<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404</h2>
                <div class="error-details">
                    Lo sentimos, la página solicitada no existe o se encuentra en mantenimiento.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span> Ir al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>